
@{
    ViewData["Title"] = "Index";
}

<h1>Manage Database</h1>

<ul>
    <li><a href="@Url.Action("Index", "DrNames")">Edit DrNames</a></li>
    <li><a href="@Url.Action("Index", "DrAddresses")">Edit DrAddresses</a></li>
    <li><a href="@Url.Action("Index", "Specialists")">Edit Specialists</a></li>
    <li><a href="@Url.Action("Index", "Titles")">Edit Titles</a></li>
</ul>   
<div>
    <ul>
        <li><a href="@Url.Action("Index", "Panel")">Back to Main Panel</a></li>
    </ul>
</div>